<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>Recipes</h2>
    <form action="/newRecipe" method="post">
        <div>
            <label>Dish</label>
            <input type="text" name="dish" id="dish">
        </div>
        <div>
            <label>Ingrident</label>
            <input type="text" name="ingrident" id="ingrident">
        </div>
        <div>
            <label>Category</label>
            <input type="text" name="category" id="category">
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>